body {margin:0; padding:0;}
.red {color:red;}
.green {color:green;}
.blue {color:blue;}

.bg-black {background-color:#222;}
.bg-red {background-color:red;}
.bg-green {background-color:green;}
.bg-blue {background-color:blue;}
.bg-yellow {background-color:yellow;}
